{{define "content" -}}
<div>
    <h2 class="title"> DSO Report </h2> 
</div>  
<div>
    <h3> DSO Server BIOS Report </h3>
    <table> 
        <tr>
            <th> 

            </th>
        </tr>
    </table>
</div>
{{end}}